.header {
  background-color: #0B6434;
    background-image: url('/src/header.png');
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative; 
    align-items: center;
    background-repeat: no-repeat;  /* Prevents repeating the image */
    background-position: center; 
    height: 170px;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .about-btn {
    padding: 10px 20px;
    background-color: white;
    color: #006400;
    border: none;
    cursor: pointer;
  }
  