/* Meal Type */
.meal-type {
  text-align: center;
  margin-bottom: 20px;
}

.meal-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.meal-image:hover {
  transform: scale(1.05);
}

.meal-type h3 {
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
}
